@mixin btn-color($color) {
  &:not(.btn-disabled) {
    border: 1px solid $color !important;

    &:hover {
      border: 1px solid $color !important;
    }

    &:before {
      background: $color !important;
    }

    &:after {
      background: rgba($color, .7);
    }
  }
}

.btn {
  padding: 15px 50px;
  margin: 10px 4px;
  text-decoration: none;
  display: inline-block;
  color: $black;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: transparent !important;
  z-index: 10;
  cursor: pointer;

  &:hover {
    color: $white !important;
  }

  &:not(.btn-disabled) {
    border: 1px solid $pageColor;

    &:hover {
      border: 1px solid $pageColor;
    }

    &:before {
      content: '';
      width: 0%;
      height: 100%;
      display: block;
      background: $pageColor;
      position: absolute;
      -ms-transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg);
      transform: skewX(-20deg);
      left: -10%;
      opacity: 1;
      top: 0;
      z-index: -12;
      transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
      box-shadow: 2px 0px 14px rgba($white, .6);
    }

    &:after {
      content: '';
      width: 0%;
      height: 100%;
      display: block;
      background: rgba($pageColor, .7);
      position: absolute;
      -ms-transform: skewX(-20deg);
      -webkit-transform: skewX(-20deg);
      transform: skewX(-20deg);
      left: -10%;
      opacity: 0;
      top: 0;
      z-index: -15;
      transition: all .4s cubic-bezier(.2, .95, .57, .99);
      box-shadow: 2px 0px 14px rgba($white, .6);
    }
  }


  &:hover::before,
  &:hover::before {
    opacity: 1;
    width: 116%;
  }

  &:hover::after,
  &:hover::after {
    opacity: 1;
    width: 120%;
  }

  &:focus {
    outline: none;
  }
}

.btn-danger {
  @include btn-color(red)
}

.btn-disabled {
  cursor: not-allowed;
  background: $text !important;
  color: $white;;
}