.dashboard{
    nav{
        .cal-month-view .cal-day-cell{
            min-height: 45px;
            height: 45px;
            .cal-day-number{
                font-size: unset;
            }
        }
    }
}