@import 'mixins.scss';
@import 'variables.scss';

.br {
  margin: 0 !important;
}

.res {
  height: calc(100vh - 100px) !important;
}

pagination-controls{
  display: flex;
  justify-content: center;
}

form {
  .ng-untouched {
    &.ng-invalid {
      @include form-valid($grey)
    }

    &.ng-valid {
      @include form-valid($green)
    }
  }

  .ng-touched {
    &.ng-invalid {
      color: $red;
      @include form-valid($red);
      .file-container{
        border:1px solid;
      }
    }

    &.ng-valid {
      @include form-valid($green)
    }
  }

  .ng-pending {
    @include form-valid($yellow)
  }
}

input-file {
  .files-container {
    padding-top: 0 !important;
  }

  .file-button,
  .file-container,
  img {
    width: 8rem !important;
    height: 8rem !important;
  }
}

pagination-controls {
  .ngx-pagination .current {
    background: $pageColor;
  }
}


ngx-emoj {
  ngx-emoj-category {
    svg {
      pointer-events: none;
    }

    &:first-child {
      display: none;
    }
  }
}

app-add-test{
  textarea{
    resize: none !important;
    overflow: hidden !important;
    padding: 0 !important;
    height: 19px;
    min-height: 19px;
    max-height: 100px;
  }
}


app-calendar {
  .cal-event,.cal-day-badge{
    background: $pageColor !important;
  }
  .cal-cell-top{
    min-height: unset !important;
  }
  .cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 1.5em;
    font-weight: 700;
  }
  mwl-calendar-event-title {
    width: 94%;
  }

  .cal-open{
    background: rgb(237, 237, 237) !important;
  }
  .mat-form-field-flex {
    height: 50px;
  }
  mwl-calendar-open-day-events > div > div {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    justify-content: space-between;
    
    i{
      color: $pageColor;
      font-size: 19px;
    }
   
    a {
      display: flex;
      text-decoration: none !important;
    }
  }
}
