mat-icon {
  color: $pageColor;
}

.mat-form-field-label {
  color: $text !important;
}

.mat-form-field-underline {
  background: $pageColor !important;
}

.mat-form-field-ripple {
  background-color: $pageColor !important;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: $pageColor !important;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-radio-outer-circle {
  border-color: $pageColor !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $pageColor !important;
}

app-settings {
  mat-checkbox {
    label {
      flex-direction: row-reverse;
      width: 100%;
    }
  }
}

app-add-group {
  mat-radio-button {
    label {
      margin-left: 10px;
    }
  }
}

app-courses {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  nav {
    .mat-tab-links {
      justify-content: space-between;
    }
  }
}


.dashboard>nav,
app-messages nav {
  border-bottom: none !important;

  .mat-tab-links {
    flex-direction: column;
  }

  .mat-ink-bar {
    display: none;
  }
}

app-messages {
  .mat-tab-links {
    box-shadow: 0px 0px 6px 0.17px rgba(0, 0, 0, 0.5);
    height: 600px;
    align-items: flex-start;

    >a {
      width: 100%;
      padding: 0px 10px;
      justify-content: flex-start;
    }
  }
}

.mat-tab-links {
  flex-direction: row;
}

.mat-ink-bar {
  background-color: $pageColor !important;
}

.mat-select-panel {
  transform: translate(-2px, 22px) !important;
}

.mat-select-panel.ng-animating {
  display: none;
}

.mat-dialog-container {
  padding: 0 !important;
}

app-add-material {
  .mat-radio-group {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  label {
    display: flex;
    flex-direction: column;
    color: $text;
  }
}

app-messages {
  .mat-tab-link {
    padding: 0 5px;
  }
}

app-single-test {

  mat-icon {
    background: transparent !important;
  }

  .mat-tab-label {
    min-width: 10px !important;
  }

  mat-tab-header {
    border-bottom: 0 !important;
  }

  div[aria-selected=true] {
    opacity: 1;
    background-color: rgba($backColor, .8);
  }

  mat-ink-bar {
    visibility: hidden !important;
  }

  .mat-tab-body-content {
    overflow: hidden;
  }

  .mat-radio-label-content {
    padding-left: 0;
    width: 100%;
  }

  mat-radio-button {
    margin: 0 !important;
  }

  .mat-checkbox-label,
  mat-checkbox label,
  mat-radio-button,
  mat-radio-button label {
    width: 100%;

    mat-form-field {
      padding-left: 10px;
    }
  }

  .mat-radio-group {
    display: flex;
    flex-direction: column;
    width: 96%;

    .mat-radio-button {
      margin: 5px 0;
    }

  }

}

