@mixin responsive-section() {
  flex-direction: column !important;
  align-items: center;
  >div{
    width: 90% !important;

    &:last-child{
      display: block !important;
      text-align: center !important;

      a{
        float: right;
        transform: scale(.7) !important;
        position: relative;
        bottom: 15px;
        right: -80px;
      }
    }
  }
}


@mixin form-valid($color) {
  .mat-form-field-label {
    color: $color !important;
  }
}

@mixin scrollbarColor(){
  .content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba($backColor, 0.3);
    background-color: $scrollBackColor;
  }

  .content::-webkit-scrollbar {
    width: 6px;
    background-color: $scrollBackColor;
  }

  .content::-webkit-scrollbar-thumb {
    background-color: $backColor;
  }
}