$headerHeight: 65px;

// colors
$subBg: #e9edf1;
$border-color: #424242;
$pageColor: #5bbc2e;
$text: #828385;
$backColor: #ededed;
$checked: orange;
$white: #ffffff;
$black: #000000;
$grey: grey;
$green: green;
$red: red;
$yellow: yellow;

$error: rgb(252, 232, 230);
// scroll Color
$scrollColor: #c7c7c7;
$scrollBackColor: #F5F5F5;

// soc icon colors
$fb: #3c5999;
$linkedin: #2797cf;
$google: #e84134;

%section {
  padding: 50px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

%info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

$boxShadow: 0px 0px 6px 0.17px rgba($black, 0.5);

%blockAndShadow{
  padding: 3% 5%;
  margin-bottom: 5%;
  min-height: 50px;
  background-color: $white;;
  box-shadow: $boxShadow;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

