<header>

  <span class="title">
    Գրադարան, որը միշտ <br> քո կողքին է
  </span>
  <span>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi doloremque consequuntur asperiores ipsum optio magnam necessitatibus nobis inventore quidem velit? Itaque iste accusantium voluptate vitae deleniti doloremque dicta quos excepturi.
    </p>
    <a *ngIf="!isLoggedIn" routerLink="/" (click)="updateState('signUp')" class="btn">Գրանցվել</a>
  </span>

</header>
