@import '../../styles/variables.scss';

header {
    background-image: url('/assets/img/header.jpg');
    background-size: cover;
    background-position: left bottom;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
    span {
      color: $white;
      position: relative;
      left: 100px;
      max-width: 50%;
      font-size: 2vmin;
  
      &.title {
        text-transform: capitalize;
        font-weight: bold;
        font-size: 4vmin;
      }
  
      .btn {
        color: $white;
      }
    }
  }
  
  
  @media only screen and (max-width: 768px) {
  
    header {
      align-items: center;
      text-align: center;
      height: 60vh;
      >span{
          top: 30px;
          left: 0;
      }
    }
  
    .btn {
      transform: scale(.7)
    }
  }
  