<form [formGroup]="userForm">
  <mat-form-field>
    <mat-icon matPrefix>account_circle</mat-icon>
    <input matInput type="email" placeholder="Էլ հասցե" formControlName="email">
  </mat-form-field>
  <mat-form-field>
    <mat-icon matPrefix>lock</mat-icon>
    <input matInput placeholder="Գաղտնաբառ" [type]="hide ? 'password' : 'text'" formControlName="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="loginError">Սխալ հասցե կամ գաղտնաբառ</mat-error>
  </mat-form-field>
  <div>
    <mat-checkbox formControlName="rememberMe">Հիշել ինձ</mat-checkbox>
    <a href="javascript:void(0)" class="forget">Մոռացել եք գաղտնաբառը</a>
  </div>
  <button #submit type="submit" class="btn" (click)="login()">Մուտք</button>

  <div class="lines">
    <span class="line"></span>
    <span> կամ </span>
    <span class="line"></span>
  </div>
  <div class="soc">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-google"></i>
    <i class="fab fa-linkedin-in"></i>
  </div>
</form>