@import '../../../../styles/variables.scss';

form {
  width: 80%;
  height: 100%;
  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 13px;
    a.forget {
      font-size: 10px;
    }
  }
  mat-icon {
    margin-right: 10px;
  }
  mat-form-field {
    width: 100%;
    font-size: 14px;
    color: $text;
  }

  .lines {
    width: 100%;
    justify-content: center;
    .line {
      width: 20px;
      height: 1px;
      margin: 0 3px;
      border-bottom: .5px solid $border-color;
    }
  }

  .soc {
    width: 100%;
    justify-content: center;
    margin-top: 10px;

    >i {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: $backColor;
      font-size: 20px;
      &:nth-child(1) {
        color: $fb;
      }
      &:nth-child(2) {
        color: $google;
      }
      &:nth-child(3) {
        color: $linkedin;
      }
    }
  }
}


@media only screen and (max-width: 555px) {

  mat-form-field{
    font-size: 10px !important;
  }

  .btn{
    font-size: 10px;
  }

}