<form [formGroup]="userForm" *ngIf="bool">
  <span>
    <mat-label>Անուն</mat-label>
    <mat-form-field>
      <input matInput type="text" placeholder="Անուն" [autocomplete]="autocomplate" formControlName="name">
      <mat-icon matSuffix (click)="hide = !hide">edit</mat-icon>
    </mat-form-field>
  </span>
  <span>
    <mat-label>Ազգանուն</mat-label>
    <mat-form-field>
      <input matInput type="text" placeholder="Ազգանուն" [autocomplete]="autocomplate" formControlName="surname">
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
  </span>
  <span>
    <mat-label>Էլ հասցե</mat-label>
    <mat-form-field>
      <input matInput readonly type="email" placeholder="Էլ հասցե" [autocomplete]="autocomplate"
        formControlName="email">
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
  </span>
  <span>
    <mat-label>Փոխել Գաղտնաբառ</mat-label>
    <mat-form-field>
      <input matInput #newPass type="password" readonly onblur="this.setAttribute('readonly','')"
        onfocus="this.removeAttribute('readonly')" (keyup)="newPassValid(reNewPass)" [autocomplete]="autocomplate"
        placeholder="Նոր Գաղտնաբառ" formControlName="newPassword">
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
  </span>
  <span>
    <mat-label>Կրկնել փոխված գաղտնաբառը</mat-label>
    <mat-form-field>
      <input matInput #reNewPass (blur)="newPassValid(reNewPass)" [autocomplete]="autocomplate"
        [readonly]="newPass.value? false:true" type="password" placeholder="Կրկնել նոր գաղտնաբառը"
        formControlName="reNewPassword">
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
  </span>
  <span>
    <mat-label>Մասննագիտություն</mat-label>
    <mat-form-field>
      <input matInput type="text" placeholder="Մասննագիտություն" [autocomplete]="autocomplate"
        formControlName="profession">
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
  </span>
  <span>
    <mat-label>Բուհի անվանումը</mat-label>
    <mat-form-field>
      <input matInput type="text" placeholder="Բուհի անվանումը" [autocomplete]="autocomplate"
        formControlName="university">
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
  </span>
  <span>
    <mat-label>Աշխատանք</mat-label>
    <mat-form-field>
      <input matInput type="text" readonly onblur="this.setAttribute('readonly','')"
        onfocus="this.removeAttribute('readonly')" placeholder="Աշխատանք" [autocomplete]="autocomplate"
        formControlName="work">
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
  </span>
  <span>
    <mat-checkbox formControlName="blockMassage">Արգելափակել ինձ եկող նամակները</mat-checkbox>
  </span>
  <span>
    <mat-label>Սեռը</mat-label>
    <mat-radio-group formControlName="gender">
      <mat-radio-button [value]=true>Արական</mat-radio-button>
      <mat-radio-button [value]=false>Իգական</mat-radio-button>
    </mat-radio-group>
  </span>
  <span>
    <mat-label>Տեսակը</mat-label>
    <mat-radio-group formControlName="role">
      <mat-radio-button value="student">Ուսանող</mat-radio-button>
      <mat-radio-button value="lecturer">Դասախոս</mat-radio-button>
      <mat-radio-button value="other">Այլ</mat-radio-button>
    </mat-radio-group>
  </span>
  <span *ngIf="roleValue">
    <mat-label></mat-label>
    <mat-form-field>
      <input matInput placeholder="Այլ" readonly onblur="this.setAttribute('readonly','')"
        onfocus="this.removeAttribute('readonly')" formControlName="otherName">
    </mat-form-field>
  </span>
  <span class="upload">
    <mat-label>Ավելացնել լուսանկար</mat-label>
    <input-file fileAccept="image/*" fileLimit="1" [linkEnabled]="false" formControlName="image"></input-file>
  </span>
  <span>
    <a #removeMe type="submit" class="btn">Ջնջվել Կայքից</a>
  </span>
  <span *ngIf="unSavedChanges">
    <mat-label>Կրկնել գաղտնաբառը և հաստատել</mat-label>
    <mat-form-field>
      <input matInput type="password" placeholder="Գաղտնաբառ" readonly onblur="this.setAttribute('readonly','')"
        onfocus="this.removeAttribute('readonly')" [autocomplete]="'off'" formControlName="password">
      <mat-icon matSuffix>edit</mat-icon>
      <mat-error *ngIf="passError">Գաղտնաբառը սխալ է</mat-error>
    </mat-form-field>
  </span>
  <span *ngIf="unSavedChanges">
    <button #submit type="submit" class="btn" (click)="editUser()">Հաստատել</button>
  </span>

</form>