form {
  display: flex;
  width: 100%;
  margin: 0px auto;
  padding-bottom: 3%;
  flex-direction: column;
  align-items: center;
  font-size: 14px;

  >span {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    min-height: 40px;

    &.upload{
      input-file{
        width: 60%;
      }
    }

    // file-upload{
    //   flex-direction: row-reverse;
    //   width: 100%;
    //   label{
    //     width: 60%;
    //   }
    // }

    button,a {
      width: 100%;
    }

    mat-label {
      margin-right: 5%;
      width: 30%;
    }

    mat-form-field {
      width: 60%;
    }

    mat-checkbox {
      width: 100%;
    }

    mat-radio-group {
      width: 60%;
      display: flex;
      justify-content: flex-start;
      mat-radio-button{
        margin-right: 20px;
      }
    }
  }

}


@media only screen and (max-width: 1300px) {
  form {
    >span {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 768px) {
    form {
      >span {
        width: 100%;
      }
    }
  }
  