<div class="title">
  <span>Ավելացնել նախընտրելի օգտատեր</span>
  <mat-icon (click)="close()">close</mat-icon>
</div>
<div class="content">
  <div class="search">
    <mat-form-field>
      <mat-select placeholder="Ֆիլտրացիա" disableOptionCentering [(value)]="selectedType">
        <mat-option *ngFor="let type of types" value="{{type.value}}">{{type.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Փնտրել․․․" type="text" >
    </mat-form-field>
  </div>
  <div class="userList">
    <span class="user" *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p };let idx = index">
      <span *ngIf="user">
        <img [src]="uploadUrl + user?.image" alt="">
        {{user?.name}} {{user?.surname}}
      </span>
      <a *ngIf="!user?.added" (click)="addUser(idx)" class="btn">Ավելացնել</a>
      <a *ngIf="user?.added" class="btn btn-disabled">Ավելացված է</a>
    </span>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>