@import '../../../../styles/variables.scss';

div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  color: $text;

  &.title {
    height: 55px;
    position: relative;
    box-shadow: 0 4px 2px -2px $text;

    mat-icon {
      width: auto;
      position: absolute;
      right: 3%;
      cursor: pointer;
    }
  }

  &.content {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 15px;

    mat-form-field {
      width: 100%;

      &:first-child {
        width: 25%;
      }
    }

    .userList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-height: 40vh;
      overflow-y: auto;
      overflow-x: hidden;

      .user {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1% 2%;
        width: 100%;
        justify-content: space-between;

        >span {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: auto;
          padding: 0;

          img {
            width: 35px;
            height: 35px;
            margin-right: 10px;
            border-radius: 50%;
          }
        }

        a {
          padding: 8px 15px;
          margin: 0;
          font-size: 11px;
        }

      }
    }
  }


}
