<div>
  <span>Ավելացնել նյութ</span>
  <mat-icon (click)="close()">close</mat-icon>
</div>

<form [formGroup]="userForm">
  <span class="upload">
    <mat-label>Ավելացնել լուսանկար</mat-label>
    <input-file fileAccept="image/*" fileLimit="1" [linkEnabled]="false" formControlName="img"></input-file>
  </span>
  <mat-form-field>
    <input matInput placeholder="Հոդվածի անունը" type="text" formControlName="articleName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Հեղինակի անունը" type="text" formControlName="authorName">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Ընտրել ոլորտը" disableOptionCentering formControlName="branch">
      <mat-option *ngFor="let sector of sectors" value="{{sector.value}}">{{sector.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Ընտրել տեսակը" disableOptionCentering formControlName="type">
      <mat-option *ngFor="let type of types" value="{{type.value}}">{{type.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Հոդվածի նկարագրություն" type="text" formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field *ngIf="!hideInp">
    <input matInput placeholder="Էջերի քանակը" type="text" formControlName="pages">
  </mat-form-field>
  <span>
    <mat-label>Հասանելիություն</mat-label>
    <mat-radio-group [(ngModel)]="secureVal" formControlName="secure">
      <mat-radio-button value="1">Բաց</mat-radio-button>
      <mat-radio-button value="2">Փակ</mat-radio-button>
      <mat-radio-button value="3">Միայն ես</mat-radio-button>
    </mat-radio-group>
  </span>
  <file-upload class="file" simple formControlName="file">
    <ng-template let-file #placeholder>
      <ng-container *ngIf="file; else emptyList">
        {{ file.name }}
      </ng-container>
      <ng-template #emptyList>
        Ընտրեք ֆայլ...
      </ng-template>
    </ng-template>
    <ng-template let-control="control" #button>
      Ավելացնել ֆայլ
    </ng-template>
  </file-upload>

  <button #submit type="submit" class="btn" (click)="addMaterial()">Ավելացնել</button>
</form>