@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  color: $text;
  position: relative;
  box-shadow: 0 4px 2px -2px $text;


  mat-icon {
    position: absolute;
    right: 3%;
    cursor: pointer;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;

  file-upload {
    width: 100%;
    margin: 15px 0;
  }

  .mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
  }

  span {
    display: flex;
    justify-content: space-between;
    width: 100%;

    mat-label {
      color: $text
    }
  }
}

