<mat-card>
  <mat-card-header>
    <div>
      <mat-icon>mail</mat-icon>
      <mat-icon (click)="removeUser(item.id)">close</mat-icon>
    </div>
  </mat-card-header>
  <img mat-card-image [src]="url + item?.image">
  <div class="content">
    <mat-card-content class="content">
      <h3>{{item.name}}</h3>
      <span>
        <mat-icon *ngIf="item?.role == 'student'">home</mat-icon>
        <mat-icon *ngIf="item?.role == 'lecturer'">home</mat-icon>
        <mat-icon *ngIf="item?.role == 'other'">home</mat-icon>
        {{item.role}}
      </span>
      <div class="stars">
        <bar-rating [(rate)]="item.rating" [theme]="'stars'" readOnly='true' [max]="5"></bar-rating>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="col">
        <span>Հետևորդներ</span>
        <span>{{item.followers}}</span>
      </div>
      <div class="line"></div>
      <div class="col">
        <span>Հետևում է</span>
        <span>{{item.following}}</span>
      </div>
    </mat-card-actions>
  </div>
</mat-card>