@import '../../../../styles/variables.scss';

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $boxShadow !important;
  text-align: center;
  padding: 0;
  width: 100%;

  img {
    margin: 20px 0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: 2px 0px 20px rgba($black, .6);
  }


  .mat-card-header {
    display: flex;
    justify-content: flex-end;
    width: 92%;
    position: relative;
    top: 3%;

    mat-icon{
        cursor: pointer;
        font-size: 1.2rem;
        margin-left: .3rem;
    }
  }

  .content {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $text;
    height: fit-content;
    justify-content: space-between;

    .mat-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      height: 82px;

      h3 {
        width: 100%;
        height: inherit;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 0;
      }
      span{
        display: flex;
        align-items: center;
        
        mat-icon{
            color: $text;
            margin-right: 5px;
        }
      }
      .stars {
        margin-top: 10px;
        width: 50%;
      }
    }

    .mat-card-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      background-color: $backColor;
      margin: 0;
      color: $text;

      .line {
        width: 1px;
        height: 30px;
        background-color: $text;
      }

      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        span {
          font-size: .7rem;

          &:last-child {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

}
