.calendar {
  >div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    mwl-calendar-month-view, table {
        width: 100%;
    }

    table{
        .btn,mat-form-field{
            width: 100%;
        }
    }

    .btn{
        padding:  10px 30px;
    }
  }
}
