<div class="calendar">
  <div>
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'hy'  | uppercase }} </h3>
    <div>
      <div class="btn" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
        Հետ
      </div>
      <div class="btn" mwlCalendarToday [(viewDate)]="viewDate">
        Այսօր
      </div>
      <div class="btn" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
        Առաջ
      </div>
    </div>
  </div>
  <mwl-calendar-month-view [weekStartsOn]='weekStartsOn' [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    [locale]="'hy'" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <div>
    Կարգավորումներ
    <button class="btn" (click)="addEvent()">
      Ավելացնել իրադարձություն
    </button>
  </div>
  <div *ngIf="events.length">
    <table>
      <thead>
        <tr>
          <th>Անուն</th>
          <th>Օր և Ժամ</th>
          <th>Ջնջել</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>
            <mat-form-field>
              <input matInput type="text" [(ngModel)]="event.title" (keyup)="refresh.next()">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput type="text" mwlFlatpickr [(ngModel)]="event.start" (ngModelChange)="changeTime()"
                [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i">
            </mat-form-field>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteEvent(event)">
              Ջնջել
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>