@import '../../../../styles/variables.scss';

div.container {
  width: 100%;
  height: 598px;
  margin: 10px;
  margin-left: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  box-shadow: 0px 0px 6px 0.17px rgba($black, 0.5);
  position: relative;
  background-color: $backColor;

  div.cpanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid $backColor;
    background: $white;
    box-shadow: 0 12px 19px -18px rgba(0, 0, 0, 0.75);
    z-index: 1;

    span {
      &:first-child {
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    i {
      padding: 7px 0 7px 7px;
      cursor: pointer;
    }
  }

  ngx-emoj {
    position: absolute;
    bottom: 30px;
    width: fit-content;
    display: flex;
    justify-content: flex-end;

    ngx-emoj-category {
      &:first-child {
        display: none;
      }
    }
  }

  div.content {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    z-index: 0;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba($scrollColor, 0.3);
      background-color: $scrollBackColor;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: $scrollBackColor;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollColor;
    }


    .letter {
      display: flex;
      align-items: flex-end;

      &.receiver {
        flex-direction: row;

        small {
          float: left;
        }
      }

      &.sender {
        flex-direction: row-reverse;

        .massages {
          align-items: flex-end;
        }

        small {
          float: right;
        }
      }

      img {
        width: 50px;
        margin: 10px;
        border-radius: 50%;
      }

      .massages {
        display: flex;
        flex-direction: column;
        max-width: 60%;
        margin: 6px 0;

        div {
          margin-bottom: 3px;

          div {
            width: fit-content;
            height: auto;
            padding: 10px;
            background-color: $white;
            border-radius: 7px;
          }

          small {
            display: none;
            padding-right: 9px;
            font-size: 9px;
          }

          &:last-child {
            width: fit-content;

            small {
              display: unset;
            }
          }
        }
      }
    }

  }

  div.massageText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $backColor;
    width: 100%;
    box-shadow: 0 -12px 19px -18px rgba($black, 0.75);
    z-index: 1;
    background: $white;

    div {
      padding: 5px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        padding: 5px;
      }

      i,
      button {
        cursor: pointer;
      }

      &.text {
        width: 100%;

        textarea {
          height: fit-content;
          resize: none;
        }
      }

      &.send {
        display: flex;
        padding-right: 0;

        i {
          padding: 5px;
        }

        button {
          height: 100%;
        }
      }
    }


  }
}
