<div class="container">
  <div class="cpanel">
    <span>
      {{message?.name}}
    </span>
    <span>
      <i class="material-icons"> block </i>
      <i class="material-icons"> delete </i>
    </span>
  </div>
  <div class="content">


    <div class="letter sender">
      <img src="./assets/img/user.jpg" alt="">
      <div class="massages">
        <div>
          <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores consequuntur exercitationem reiciendis
            delectus unde similique aspernatur nobis facilis distinctio accusamus!
          </div>
          <small>22:14 pm</small>
        </div>
        <div>
          <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing.
          </div>
          <small>11:25 am</small>
        </div>
      </div>
    </div>
    <div class="letter receiver">
      <img src="./assets/img/user.jpg" alt="">
      <div class="massages">

        <div>
          <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae sunt omnis cupiditate modi illum, aperiam
            porro ipsam fugiat dolorum placeat tenetur asperiores harum in obcaecati sequi nostrum facere dolore
            accusantium voluptate ipsa minus! Laudantium, mollitia. Harum hic voluptates architecto nobis magni amet
            pariatur voluptatum, et quisquam, provident incidunt, nisi fugiat.
          </div>
          <small>22:14 pm</small>
        </div>
        <div>
          <div>
            fdjgfndgndfoipghnu
          </div>
          <small>11:25 am</small>
        </div>
      </div>
    </div>
    <div class="letter sender">
      <img src="./assets/img/user.jpg" alt="">
      <div class="massages">
        <div>
          <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores consequuntur exercitationem reiciendis
            delectus unde similique aspernatur nobis facilis distinctio accusamus!
          </div>
          <small>22:14 pm</small>
        </div>
        <div>
          <div>
            Lorem ipsum dolor, sit amet consectetur adipisicing.
          </div>
          <small>11:25 am</small>
        </div>
      </div>
    </div>
    <div class="letter receiver">
      <img src="./assets/img/user.jpg" alt="">
      <div class="massages">

        <div>
          <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae sunt omnis cupiditate modi illum, aperiam
            porro ipsam fugiat dolorum placeat tenetur asperiores harum in obcaecati sequi nostrum facere dolore
            accusantium voluptate ipsa minus! Laudantium, mollitia. Harum hic voluptates architecto nobis magni amet
            pariatur voluptatum, et quisquam, provident incidunt, nisi fugiat.
          </div>
          <small>22:14 pm</small>
        </div>
        <div>
          <div>
            fdjgfndgndfoipghnu
          </div>
          <small>11:25 am</small>
        </div>
      </div>
    </div>
  </div>
  <div class="massageText">
    <div class="other">
      <i class="material-icons" (click)="attach_file.click()"> attach_file </i>
      <i class="material-icons emoji" (click)="showEmoji($event)"> insert_emoticon </i>
    </div>
    <div class="text">
      <input hidden type="file" #attach_file>
      <textarea matInput #inp rows="1" type="text" (keydown.control.enter)="sendMessage()" (keyup)="textareaChange($event)" [(ngModel)]="text"
        placeholder="Write Text"><textarea></textarea>
    </div>
    <div class="send">
      <button #button mat-button (click)="sendMessage()"><i class="material-icons"> send </i></button>
    </div>
  </div>
  <ngx-emoj *ngIf="emoji" (onemojipick)="handleEmoji($event,inp)" (onchardelete)="handleCharDelete($event)"
    [theme]="theme" [width]="'250px'" [height]="'180px'">
  </ngx-emoj>
</div>