<div #slider class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let vid of videos">
      <video #video width="100%" loop (click)='triggerVideo()'>
        <source src={{vid.src}} type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div #pagination class="swiper-pagination"></div>
</div>