<mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="changeTabs($event)" animationDuration="0ms"
  mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>photo</mat-icon>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>check</mat-icon>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon> title </mat-icon>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<div class="test" [ngClass]="haveError ? 'error' : ''">


  <div class="image" *ngIf="selectedIndex === 0">
    <mat-label>Ավելացնել լուսանկար</mat-label>
    <input-file [(ngModel)]="file" (ngModelChange)="changeData()" fileAccept="image/*" fileLimit="1"
      [linkEnabled]="false"></input-file>
  </div>
  <div class="question">
    <mat-form-field>
      <textarea matInput type="text" [(ngModel)]="ask" (ngModelChange)="changeData()" (keyup)="auto_grow($event)"
        placeholder="Հարց"></textarea>
    </mat-form-field>
    <mat-form-field *ngIf="selectedIndex != 2">
      <mat-label>Ճիշտ պատասխաններ</mat-label>
      <select [(ngModel)]="selectedType" (ngModelChange)="changeData()" matNativeControl>
        <option value="single">Մեկ</option>
        <option value="multiple">Միքանի</option>
      </select>
    </mat-form-field>
  </div>
  <div *ngIf="selectedIndex != 2">
    <mat-radio-group *ngIf="selectedType == 'single'" (ngModelChange)="changeData()" [(ngModel)]="selectedAnswer"
      (change)="radioChange(selectedAnswer)">
      <div cdkDropList (cdkDropListDropped)="dropAnswers($event)">
        <div class="dragAnswer" *ngFor="let i of options;let idx = index" cdkDrag>
          <mat-icon cdkDragHandle>drag_indicator</mat-icon>
          <mat-radio-button [value]="idx" (change)="radioChange(idx)">
            <mat-form-field>
              <input matInput (keyup.enter)="addAnswer(idx)" (ngModelChange)="changeData()"
                [(ngModel)]="i.label" />
            </mat-form-field>
          </mat-radio-button>
          <ng-container *ngIf='options.length < 5'>
            <mat-icon matSuffix (click)="addAnswer(idx)">add</mat-icon>
          </ng-container>
          <ng-container *ngIf='options.length > 1'>
            <mat-icon matSuffix (click)="deleteAnswer(idx)">close</mat-icon>
          </ng-container>
        </div>
      </div>
    </mat-radio-group>
    <div *ngIf="selectedType == 'multiple'" cdkDropList (cdkDropListDropped)="dropAnswers($event)">
      <div class="dragAnswer" *ngFor="let i of options;let idx = index" cdkDrag>
        <mat-icon cdkDragHandle>drag_indicator</mat-icon>
        <mat-checkbox [value]="idx" [(ngModel)]="i.checked" (ngModelChange)="changeData()">
          <mat-form-field>
            <input matInput (keyup.enter)="addAnswer(idx)" (ngModelChange)="changeData()"
              [(ngModel)]="i.label" />
          </mat-form-field>
        </mat-checkbox>
        <ng-container *ngIf='options.length < 5'>
          <mat-icon matSuffix (click)="addAnswer(idx)">add</mat-icon>
        </ng-container>
        <ng-container *ngIf='options.length > 1'>
          <mat-icon matSuffix (click)="deleteAnswer(idx)">close</mat-icon>
        </ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="selectedIndex === 2">
    <mat-form-field>
      <textarea matInput [(ngModel)]="answerLong" (ngModelChange)="changeData()" type="text" (keyup)="auto_grow($event)"
        placeholder="Պատասխան"></textarea>
    </mat-form-field>
  </div>


  <span *ngIf="haveError" class="error">
    <small *ngIf="question?.error.picError">{{question?.error.picError}}</small>
    <small *ngIf="question?.error.askError">{{question?.error.askError}}</small>
    <small *ngIf="question?.error.lessLinesError && !question?.error.emptyLinesError">{{question?.error.lessLinesError}}</small>
    <small *ngIf="question?.error.emptyLinesError">{{question?.error.emptyLinesError}}</small>
    <small *ngIf="question?.error.answerError">{{question?.error.answerError}}</small>
    <small *ngIf="question?.error.answerOptionError">{{question?.error.answerOptionError}}</small>
  </span>

</div>