@import 'src/app/styles/variables.scss';



mat-form-field,
mat-radio-group,
mat-checkbox {
  width: -webkit-fill-available;
}

.dragAnswer {
  display: flex;
  align-items: center;

  mat-icon {
    cursor: pointer;
    background: $white;
    z-index: 1;
  }
}


.test {
  margin-top: 10px;
  padding: 10px;

  .image {
    display: flex;
    justify-content: space-between;
    align-items: center;

    mat-label {
      width: 40%;
    }
  }

  .question {
    display: flex;

    mat-form-field {
      &:nth-child(2) {
        padding-left: 10px;
        width: 100px;
      }
    }

  }

  &.error{
    background: $error;
  }

  > .error {
    display: flex;
    flex-direction: column;
  }
}
