@import '../../styles/variables.scss';

$fontSize:12px;

.main-card {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  .type {
    font-size: $fontSize;
    padding: 2% 0;
  }
}

mat-card {
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: $boxShadow !important;
  padding: 0;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    height: inherit;
    margin: 0 auto;
    
    > *:not(div){
      padding: 0 7px;
    }

    > div{
      padding: 8px 4px 0;
      font-size: $fontSize;


      &.timeline{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 20px;
        background-color: $backColor;
        width: auto;
        padding: 10px;

        >span{
          font-size: 14px;
          display: flex;
          align-items: center;

          i{
            font-size: 14px;
            margin-right: 5px;
          }
        }
      }
    }
  }


  .checked {
    color: $checked;
  }

  img {
    height: 140px;
    width: 100%;
    margin-top: 0;
  }

  .mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5px 0 0;
    padding-bottom: 5px;
    font-size: $fontSize;
    flex-direction: column;

    span{
      padding: 10px 0 0;
    }
    .stars {
      width: 50%;
    }
  }

  .mat-card-content {
    width: -webkit-fill-available;
    font-size: 14px;
    min-height: unset;
    margin: 0;
    h4{
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}