<span class="main-card">
  <div *ngIf="item.type" class="type">
  {{item.type}}
  </div>
  <mat-card>
    <img mat-card-image src="{{item.img}}">
    <div class="content">
      <mat-card-content class="content">
        <h4>{{item.name}}</h4>
      </mat-card-content>
      <div *ngIf="item?.author">{{item.author}}</div>
      <mat-card-actions>
        <span *ngIf="item?.materialMember">{{item.materialMember}} անդամ</span>
        <span *ngIf="item?.groupMember">{{item.groupMember}} մասնակից</span>
        <div class="stars">
          <bar-rating [(rate)]="item.rating" [theme]="'stars'" readOnly='true' [max]="5"></bar-rating>
        </div>
      </mat-card-actions>
      <div *ngIf="item?.time" class="timeline">
          <span><i class="material-icons">calendar_today</i>{{item?.day}}</span>
          <span><i class="material-icons">access_time</i>{{item?.time}}</span>
      </div>
    </div>
  </mat-card>
</span>