@import '../../styles/variables.scss';

footer {
  width: auto;
  height: auto;
  background: rgba($black, .8);
  color: $white;
  padding: 2% 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;

  .contacts {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px 0;

    >div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .circle {
        height: 30px;
        width: 30px;
        background: $checked;
        border-radius: 50%;
      }
    }
  }

  hr {
    width: 100%;
  }

  .footer-menu {
    display: flex;
    padding: 0;
    width: 80%;
    margin-top: 25px;

    >div {
      width: 25%;
    }

    ul {
      padding: 0;
      list-style-type: none;
      color: $white;

      li {
        padding-bottom: 10px;
      }

     
    }
  }

  .soc {
    display: flex;

    .circle {
      margin: 5px;
      height: 30px;
      width: 30px;
      border: 1px solid;
      border-radius: 50%;
    }
  }
  
  form{
    mat-form-field{
      width: -webkit-fill-available;
    }
  }
}


@media only screen and (max-width: 1100px) {
  footer{
    padding: 2% 8%;
  }
}

@media only screen and (max-width: 768px) {
  .contacts{
    flex-direction: column;
  }
  .footer-menu{
    flex-wrap: wrap;
    & div.row{
      text-align: center;
      width: 50% !important;
    }
  }
}

@media only screen and (max-width: 555px) {
  .footer-menu{
    & div.row{
      width: 100% !important;

      &:last-child > div:last-child{
        display: flex;
        justify-content: center;
      }

    }
  }
}