<footer>
  <div class="contacts">
    <div>
      <div class="circle"></div>
      <div>(+374) 93 500 016</div>
    </div>
    <div>
      <div class="circle"></div>
      <div>hr@arssystems.am</div>
    </div>
    <div>
      <div class="circle"></div>
      <div>Ամիրյան 4/6</div>
    </div>
  </div>
  <hr>
  <div class="footer-menu">
    <div class="row">
      <div class="title">
        About
      </div>
      <div>
        <ul>
          <li>Our Story</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="title">
        Company
      </div>
      <div>
        <ul>
          <li>Our Services</li>
          <li>Our Partners</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="title">
        Resources
      </div>
      <div>
        <ul>
          <li>Blog</li>
          <li>Newsletter</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="title">
        Contact Us
      </div>
      <div>
            <form>
             <mat-form-field>
                <input matInput placeholder="Email"  dividerColor="warn" color="warn">
                <mat-icon matSuffix style="font-size: 18px;padding-left: 3px;cursor: pointer;">arrow_forward</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <textarea matInput placeholder="Text"></textarea>
              </mat-form-field>
            </form>
      </div>
    </div>

  </div>
  <div class="soc">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div>C 2018 BookShop. All Rights Reserved</div>
</footer>