
<div #container class="swiper-container">
  <div #wrapper class="swiper-wrapper" *ngFor="let p of data">
    <div class="swiper-slide" [style.backgroundImage]="'url(' + p.img + ')'">
      
    </div>
  </div>
</div>