@import '../../styles/variables.scss';

.tile{
    min-height: 140px!important
}

h2{
    color: $text;
    text-align: center;
}

.swiper-slide{
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.swiper-button-next, .swiper-button-prev{
    background-size: 50%;
}

.swiper-container{
    display: flex;
    height: 100%;
}