<section>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="inputVal" placeholder="Փնտրել․․․">
    </mat-form-field>
    <a href="javascript:void(0)" (click)="openDialog()" class='btn'>Ավելացնել դասընթաց</a>
  </div>
  <div>
    <app-card *ngFor="let item of myLiveCourses" [item]="item"></app-card>
  </div>
</section>