<div>
  <span>Ավելացնել օնլայն դասընթաց</span>
  <mat-icon (click)="close()">close</mat-icon>
</div>

<form [formGroup]="userForm">
  <mat-form-field>
    <input matInput placeholder="Վերնագիր" type="text" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ընտրել թեմա" type="text" formControlName="topic">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Նկարագրություն" type="text" formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Մասնակիցների առավելագույն քանակ" type="number" formControlName="maxCount">
  </mat-form-field>
  <mat-form-field>
    <input matInput class="form-control" type="text" mwlFlatpickr (ngModelChange)="refresh.next()" [altInput]="true"
      [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
      placeholder="Ընտրել օր,ժամ"  formControlName="date" />
    <!-- <input matInput placeholder="Ընտրել օր,ժամ" type="text" formControlName="name"> -->
  </mat-form-field>

  <button #submit type="submit" class="btn" (click)="addLive()">Ավելացնել</button>
</form>