@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

section {
  padding: 3% 20%;
  .btn {
    color: $black;
  }

  &.about {
    @extend %section;
    align-items: center;
    >div {
      width: 45%;
      &:last-child {
        @extend %info;
        align-items: flex-start;
        text-align: left;
      }
      &.line {
        width: 1px;
        height: 100px;
        border-left: 1px solid $black;
      }
    }
    app-video-slider {
      height: 500px;
    }
  }

  &.circles {
    justify-content: center;
    background-color:$backColor;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $text;
    .circle {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &.partner {
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 200px;
    background: $backColor;
    padding: 3% 10%;
    app-partners {
      width: auto;
      height: 100px;
    }
  }

  .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    padding-bottom: 20px;
    .line {
      width: 100px;
      height: 1px;
      margin-bottom: 15px;
      background: $text;
    }
  }

  &.group {
    @extend %section;
    >div {
      &:first-child {
        order: 2;
        width: 55%;
      }
      &:last-child {
        width: 35%;
        @extend %info;
      }
    }
  }
}

.login {
  display: none;
}


@media only screen and (max-width: 1100px) {
  section {
    padding: 3% 0;
  }
  .circle {
    transform: scale(.8)
  }
  &.circles{
    width: auto;
    align-items: center;

    span{
      .circle{
        flex-wrap: wrap;
      }
    }

    .name{
      padding-bottom: unset;
    }

  }

  &.group{
    @include responsive-section();
  }

}

@media only screen and (max-width: 768px) {
  &.about{
    @include responsive-section();
    .line{
      display: none;
    }
  }
}