<app-header>
    
</app-header>
<section class="about">
    <div>
        <app-video-slider></app-video-slider>
    </div>
    <div class="line"></div>
    <div>
        <h2>Մեր Մասին</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore explicabo eius rem obcaecati eligendi vel
            laborum unde illum quis consequuntur provident alias natus quam, ipsam esse perspiciatis veniam. Atque,
            illo!</p>
        <a href="#" class="btn">Ավելին</a>
    </div>
</section>

<section class="circles">
    <div class="name">
        <div class="line"></div>
        Լավագույն Թեմաները
    </div>
    <span #diagram>
        <div class="circle" *ngIf="checkDiagram"  >
            <app-diagram  *ngFor="let canv of canvasData" [canv]="canv"></app-diagram>
        </div>
    </span>

</section>

<section class="group">
    <div>
        <app-group-slider></app-group-slider>
    </div>
    <div>
        <h2>Խմբեր</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore explicabo eius rem obcaecati eligendi vel
            laborum unde illum quis consequuntur provident alias natus quam, ipsam esse perspiciatis veniam. Atque,
            illo!</p>
        <a href="#" class="btn">Ավելին</a>
    </div>
</section>

<section class="partner">
    <div class="name">
        <div class="line"></div>
        Մեր Գործընկերները
    </div>
    <app-partners></app-partners>
</section>

<div style="height:100px"></div>