<div class="container">
  <div class="user-info">
    <div class="col">
      <div class="pic">
        <img *ngIf="user?.image" [src]="uploadUrl + user?.image" alt="">
      </div>
      <div class="stars">
        <bar-rating [(rate)]="userRate" [theme]="'stars'" readOnly='true' [max]="5"></bar-rating>
      </div>
    </div>
    <div class="col">
      <div class="userInfo">
        <span>
          <span class="userName">
            {{user?.name}} {{user?.surname}}
          </span>
          <span>
            Դասախոս
          </span>
        </span>
        <span>
          <span *ngIf="user?.work">{{user.work}}</span>
          <span *ngIf="user?.professions">{{user.professions}}</span>
          <span *ngIf="user?.university">{{user.university}}</span>
        </span>
      </div>
    </div>
    <div class="col">
      <div class="statistics">
        <div class="col" *ngFor="let col of statistics;let idx = index">
          <div>
            <span *ngFor="let i of col" [style.color]="i.color">
              <span class="number">
                {{i.count}}
              </span>
              <span class="text">
                {{i.name}}
              </span>
            </span>
          </div>
          <div *ngIf="idx != 2" class="line"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="dashboard">
    <nav #nav mat-tab-nav-bar>
      <ng-container *ngFor="let tab of tabList">
        <a mat-tab-link *ngIf="tab?.href" [routerLink]="tab.href" routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          <mat-icon>home</mat-icon><span>{{tab.name}}</span>
        </a>
        <a mat-tab-link *ngIf="!tab?.href" (click)="logout()">
          <mat-icon>home</mat-icon><span>{{tab.name}}</span>
        </a>
      </ng-container>

      <div class="calendar" *ngIf="!sizeTablet">
        <div class="btn-group">
          <span class="prev" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
            «
          </span>
          <span>
            {{ viewDate | calendarDate:(view + 'ViewTitle'):'hy' }}
          </span>
          <span class="next" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
            »
          </span>
        </div>

        <mwl-calendar-month-view [viewDate]="viewDate" (dayClicked)="dayClicked($event.day)" [locale]="'hy'">
        </mwl-calendar-month-view>
      </div>
    </nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>