@import '../../styles/variables.scss';

$height: 240px;

%leftPanel {
  width: $height + 40;
}

%rightPanel {
  width: calc(100% - 300px);
  padding: 0;
  margin: 0;
}


.sticky {
  position: fixed;
  top: 100px;

  &.sticky-end {
    // position: absolute;
  }
}

.container {
  margin-top: $headerHeight;
  padding: 2% 10%;

  .user-info {
    display: flex;
    justify-content: space-between;
    line-height: 25px;

    >.col {
      height: $height + 40px;

      &:first-child {
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        @extend %leftPanel;

        .pic {
          @extend %blockAndShadow;
          height: $height;
          width: -webkit-fill-available;
          margin-bottom: 12px;

          img {
            min-width: 250px;
            width: 100%;
            object-fit: cover;
          }
        }

        .stars {
          display: flex;
          justify-content: center;

          bar-rating {
            width: 50%;
          }
        }
      }

      &:not(:first-child) {
        @extend %rightPanel;
        @extend %blockAndShadow;
        width: calc(50% - 160px);
        height: $height;

        .userInfo {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 20px 30px;
          width: -webkit-fill-available;
          height: -webkit-fill-available;

          span {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &.userName {
              font-size: 24px;
            }
          }

          a {
            padding: 15px 30px;
            margin: 0;
          }
        }

        >.statistics {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 5% 7%;

          @media only screen and (max-width: 1300px) {
            padding: 3%;
          }

          >.col {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 70%;
            width: 34%;
            text-align: center;

            @media only screen and (max-width: 1300px) {
              height: 60%;
            }

            .line {
              width: 1px;
              height: 70%;
              background-color: $text;
            }

            >div:first-child {
              display: flex;
              flex-direction: column;
              margin: 0 auto;
              height: 100%;
              > span{
                display: flex;
                flex-direction: column;
                width: 100%;
              }
              .number {
                font-size: 3rem;
              }
              .text {
                margin: 10px 0 20px;
                font-size: .7rem;
              }
            }
          }
        }
      }
    }
  }

  .dashboard {
    display: block;
    height: -webkit-fill-available;
    margin-top: 20px;

    nav {
      @extend %leftPanel;
      float: left;
      border: none;

      a,
      mat-icon {
        display: flex;
        align-items: center;
        font-size: 13px;
        justify-content: flex-start;
        border-radius: 5px;

        &[ng-reflect-router-link="calendar"] {
          display: none;
        }

      }

      .mat-tab-label-active {
        background: $pageColor;
        color: $white;
        opacity: 1;
      }

      .calendar {
        margin: 50px 0;

        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 45px;
          background: $pageColor;
          color: $white;

          .next,
          .prev {
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            cursor: pointer;
          }
        }
      }

    }

    mat-icon {
      color: unset;
    }

    .content {
      float: right;
      @extend %rightPanel;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .container {
    padding: 2% 5%;
  }
}

@media only screen and (max-width: 1100px) {
  .dashboard {
    nav {
      width: 70px !important;

      a[ng-reflect-router-link="calendar"] {
        display: flex !important;
      }
    }

    .content {
      width: calc(100% - 70px) !important;
    }
  }

  .mat-tab-link {
    padding: 0;
    width: 50px;
    justify-content: center !important;
    min-width: unset;

    mat-icon {
      font-size: 25px !important;
    }

    span {
      display: none;
    }
  }
}
