<span class="reg" [ngClass]="registred ? 'registred' : ''">
  <form [formGroup]="userForm">
    <mat-form-field>
      <mat-icon matPrefix>account_circle</mat-icon>
      <input matInput placeholder="Անուն" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>email</mat-icon>
      <input matInput placeholder="Էլ հասցե" formControlName="email">
      <mat-error *ngIf="isControlInvalid('email')">{{userForm.get('email').getError('invalid')}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>lock</mat-icon>
      <input (keyup)="rePassValid(rePass)" matInput placeholder="Գաղտնաբառ" #passTooltip="matTooltip"
        (click)="passTooltip.show()" matTooltip="{{userForm.get('password').getError('invalid')}}"
        formControlName="password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>lock</mat-icon>
      <input matInput #rePass (blur)="rePassValid(rePass)" type='password' #rePassTooltip="matTooltip"
        (click)="rePassTooltip.show()" matTooltip="{{userForm.get('repeatPassword').getError('invalid')}}"
        placeholder="Կրկնել գաղտնաբառը" formControlName="repeatPassword">
    </mat-form-field>

    <mat-form-field>
      <mat-icon matPrefix>wc</mat-icon>
      <mat-select placeholder="Սեռ" disableOptionCentering formControlName="gender">
        <mat-option value=true>Տղա</mat-option>
        <mat-option value=false>Աղջիկ</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-icon matPrefix>wc</mat-icon>
      <mat-select placeholder="Օգտատիրոջ տեսակը" #select disableOptionCentering formControlName="role">
        <mat-option *ngFor="let role of roles" value="{{role.value}}">{{role.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="roleValue">
      <mat-icon matPrefix>wc</mat-icon>
      <input matInput placeholder="Այլ" formControlName="otherName">
    </mat-form-field>

    <button [ngClass]="{'btn-disabled': userForm.invalid }" type="submit" class="btn"
      (click)="sendReg()">Գրանցվել</button>

    <div class="lines">
      <span class="line"></span>
      <span> կամ </span>
      <span class="line"></span>
    </div>
    <div class="soc">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-google"></i>
      <i class="fab fa-linkedin-in"></i>
    </div>
  </form>
  <div *ngIf="registred">
    Ստուգեք ձեր էլ֊փոստը
  </div>
</span>