@import '../../styles/variables.scss';

.swiper-container {
  width: 100%;
  height: auto;
  transition: opacity .6s ease;
}

.swiper-slide {
  min-height: 300px;
  height: fit-content;
  background: $backColor;
  border: 1px solid $border-color;
  text-align: center;
  transform: scale(.6) !important;
  z-index: -2 !important;

  &.swiper-slide-prev,
  &.swiper-slide-next {
    transform: scale(.8) !important;
    z-index: -1 !important;
  }

  &.swiper-slide-active {
    transform: scale(1) !important;
    z-index: 1 !important;
  }

}

@media only screen and (max-width: 600px) {
  &.swiper-container{
    transform: scaleX(.7)
  }
}

@media only screen and (max-width: 400px) {
  &.swiper-container{
    transform: scaleX(1)
  }
}