<div #slider class="swiper-container ">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor='let group of groups'>
      <app-group-card [item]="group" ></app-group-card>
    </div>
  </div>
</div>