<div>
  <span>Ստեղծել խումբ</span>
  <mat-icon (click)="close()">close</mat-icon>
</div>

<form [formGroup]="userForm">
  <span class="upload">
    <mat-label>Ավելացնել լուսանկար</mat-label>
    <input-file fileAccept="image/*" fileLimit="1" width="7rem" [linkEnabled]="false" formControlName="img"></input-file>
  </span>
  <mat-form-field>
    <input matInput placeholder="Խմբի անունը" type="text" formControlName="groupName">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Խմբի նկարագրություն" type="text" formControlName="description"></textarea>
  </mat-form-field>
  <span>
    <mat-label>Հասանելիություն</mat-label>
    <mat-radio-group [(ngModel)]="secureVal" formControlName="secure">
      <mat-radio-button value="1">Բաց</mat-radio-button>
      <mat-radio-button value="2">Փակ</mat-radio-button>
    </mat-radio-group>
  </span>
  <mat-form-field>
    <mat-select placeholder="Ընտրել կատեգորիա" disableOptionCentering formControlName="category">
      <mat-option *ngFor="let c of category" value="{{c.value}}">{{c.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="removeTag(tag)">
        {{tag.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Մուտքագրել հուշող բառեր տվյալ խմբի համար" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
  </mat-form-field>
  <span class="users" *ngIf="users.length != 0">
    <!-- <span>Նախընտրած օգտատերերի ցանկից հրավիրել օգտատեր</span> -->
    <mat-form-field>
      <input matInput placeholder="Որոնել օգտատեր">
    </mat-form-field>
    <span class="userList">
      <span class="user" *ngFor="let user of users">
        <span>
          <img src="{{user?.img}}" alt="">
          {{user?.name}} {{user?.surname}}
        </span>
        <a routerLink="#" class="btn">Ավելացնել</a>
      </span>
    </span>
  </span>


  <button #submit type="submit" class="btn" (click)="addGroup()">Ավելացնել</button>
</form>