@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  color: $text;
  position: relative;
  box-shadow: 0 4px 2px -2px $text;


  mat-icon {
    position: absolute;
    right: 3%;
    cursor: pointer;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;

  file-upload {
    width: 100%;
    margin: 15px 0;
  }

  .mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
  }

  span {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;

    mat-label {
      color: $text
    }

    &.users {
      flex-direction: column;

      >span {
        display: flex;
        flex-direction: column;

        &.userList {
          max-height: 150px;
          overflow-y: auto;

          .user {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 2% 0 0;
            width: auto;

            >span {
              align-items: center;
              justify-content: flex-start;
              width: auto;
              padding: 0;

              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
              }
            }

            a {
              padding: 8px 15px;
              margin: 0;
              font-size: 11px;
            }

          }
        }
      }
    }
  }
}
