<nav #nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let tab of tabList" [routerLink]="tab.href" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{tab.name}}
  </a>
</nav>
<router-outlet></router-outlet>
