<div class="container">
  <nav #nav mat-tab-nav-bar>
    <span>
      <input matInput type="text" placeholder="Find people">
      <i class="material-icons"> search </i>
    </span>
    <span class="peoples">
      <a mat-tab-link #link *ngFor="let tab of tabList;let idx = index" [routerLink]="tab.href" routerLinkActive
        #rla="routerLinkActive" [active]="rla.isActive? findIdx(idx):false">
        <img src="./assets/img/user.jpg" alt="">
        <div>
          <div>
            <strong>
              {{tab.name}}
            </strong>
            <span>
              asdfdsfsadfsdgsfhfghfffffffffffffffffhghfddfgafdgfgfdhgfdhfgfjhgfjfd
            </span>
          </div>
          <div>
            <span>{{tab.time}}</span>
          </div>
        </div>
      </a>
    </span>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>