@import '../../../styles/variables.scss';

.container {
  display: flex;
  justify-content: space-between;

  nav {
    width: 260px;
    padding: 10px;

    span {
      width: 100%;

      input {
        width: -webkit-fill-available;
        padding-right: 38px;
        padding: 10px;
        border-bottom: 1px solid $backColor;

      }

      i {
        position: absolute;
        top: 0;
        right: 0;
        padding: 7px;
        cursor: pointer;
      }

      &.peoples{
        overflow: auto;
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba($scrollColor, 0.3);
          background-color: $scrollBackColor;
        }
    
        &::-webkit-scrollbar {
          width: 6px;
          background-color: $scrollBackColor;
        }
    
        &::-webkit-scrollbar-thumb {
          background-color: $scrollColor;
        }
      }
    }


    img {
      width: 50px;
      border-radius: 50%;
      margin: 10px 5px 10px 0;
      background: $backColor;
    }

    a {
      height: 70px;
      width: 100%;
      opacity: 1;

      // background-color: #ededed;
      &[aria-current="true"] {
        z-index: 1;
        background: $backColor;
        box-shadow: 0px 4px 4px -3px rgba($black, 0.4);
        // opacity: 1;
        // color: $white;
        // box-shadow: 0px 3px 7px 0px rgba($black, 0.55);
      }

      div {
        display: flex;
        justify-content: space-between;
        width: 77%;

        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          line-height: 20px;

          span,
          strong {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            text-align: start;
          }

          span {
            font-size: 10px;
          }

          &:first-child {
            width: calc(100% - 42px);
          }

          &:last-child {
            width: 45px;
          }
        }
      }
    }
  }

  .content {
    width: calc(100% - 280px);
  }
}
