@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.login-reg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba($black, 0.6);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;

  .close {
    position: relative;
    left: 370px;
    cursor: pointer;
    color: $white;
  }

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
    height: 580px;
    width: 700px;
    background: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    box-shadow: $boxShadow;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: -webkit-fill-available;

      mat-button-toggle-group {
        width: 100%;

        >* {
          width: 50%;
        }
      }

      .btn {
        color: $black;
        display: block;
        float: right;
        width: -webkit-fill-available;
        margin: 15px 0;
      }

      >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3% 0;
        height: -webkit-fill-available;
      }

      h3,
      h4 {
        margin: 5px 0px;
        color: $text;
      }

      .form {

        app-login,
        app-reg {
          display: flex;
          justify-content: center;
          font-size: 12px;
        }
      }
    }

    .pic {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;

      div {
        background-image: url('/assets/img/books.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 80%;
      }
    }
  }
}


@media only screen and (max-width: 768px)  {
  .pic{
    display: none!important;
  }
  .close{
    left: 44% !important;
  }
  .modal{
    width: 80% !important;
  }
}

@media only screen and (max-height: 500px)  {
  .modal{
    height: calc(100% - 100px) !important;
  }
}


