<div #modal class="login-reg">
    <div class="close"><i class="material-icons">close</i></div>
    <div class="modal">
        <div class="content">
            <mat-button-toggle-group [value]="logOrReg"  #group="matButtonToggleGroup">
                <mat-button-toggle value="signIn" >
                    Մուտք
                </mat-button-toggle>
                <mat-button-toggle value="signUp" >
                    Գրանցվել
                </mat-button-toggle>
            </mat-button-toggle-group>
            <div class="form">
                <app-reg *ngIf="group.value=='signUp' && !registred"></app-reg>
                <app-login *ngIf="group.value=='signIn' && !registred"></app-login>
                <div *ngIf="registred">
                    dsfgdsgd
                </div>
            </div>
        </div>
        <div class="pic">
            <div>
            </div>
        </div>
    </div>
</div>