<mat-card>
  <img mat-card-image src="{{item.img}}">
  <mat-card-content class="content">
    <h3>{{item.name}}</h3>
    <p>
      {{item.text}}
    </p>
  </mat-card-content>
  <mat-card-actions style="min-height: 55px;">
    <span>{{item.materialMember}} անդամ</span>
    <div class="stars">
      <bar-rating [(rate)]="item.rating" readOnly="true" [max]="5"></bar-rating>
    </div>
  </mat-card-actions>
</mat-card> 