@import '../../styles/variables.scss';

mat-card{
    font-size: .8rem;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 90px;
        padding: 0 5px;
    }
    .checked {
      color: $checked;
    }
    h3{
        font-size: 1rem;
    }
    img{
        height: 200px;
    }
    .mat-card-actions{
      align-items: center;
      display: flex;
      flex-direction: column;
    }
}
