@import '../../../styles/variables.scss';

section{
    @extend %blockAndShadow;
    margin: 3%;
    padding: 3%;
    flex-direction: column;
    // flex-direction: column;

    mat-form-field{
        width: 170px;
    }

    >div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        
        &:first-child{
            justify-content: space-between;
            align-items: flex-start;
            margin: 0 2%;
        }

        .btn{
            margin: 0;
        }

        app-card{
            width: 21%;
            align-items: stretch;
            display: flex;
            margin: 0 2% 2% 2%;
        }
    }
}

@media only screen and (max-width: 1600px) {
    section app-card{
        width: 29.3% !important;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 900px)  {
    section app-card{
        width: 21% !important;
    }
}
