<nav [ngClass]="toggleMenu ? 'subMenu' : ''">
    <div class="logo" routerLink="/">
        <img src="./assets/img/logo.png" alt="">
        <span>Book Shelf</span>
    </div>
    <div class="menu" #menu>
        <div class="dropdown-menu" *ngFor="let nav of navData">
            <!-- Menu for tablet -->
            <a #menuLink href="javascript:void(0)" routerLink="{{nav.href}}" *ngIf="toggleDropDown">
                {{nav.name}}
            </a>
            <!-- Menu for full Page -->
            <a #menuLink href="javascript:void(0)" (click)='dropDown($event)' *ngIf="!toggleDropDown">
                {{nav.name}}
                <mat-icon *ngIf="!toggleDropDown && nav.subMenu" matSuffix>arrow_drop_down</mat-icon>
            </a>
            <div class="dropdown-content" *ngIf="!toggleDropDown">
                <div class="swiper-container" #container>
                    <div class="swiper-wrapper" #slideContent>
                        <div class="swiper-slide" #slide *ngFor="let sub of nav.subMenu">
                            <a href="javascript:void(0)">
                                <mat-icon>{{sub.icon}}</mat-icon>
                                {{sub.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="user">
        <div class="dropdown-menu">
            <a href="javascript:void(0)" *ngIf="!isLoggedIn" (click)="updateState('signIn')">
                <mat-icon matSuffix>person</mat-icon>
            </a>
            <a href="javascript:void(0)" *ngIf="!isLoggedIn">
                <mat-icon matSuffix>search</mat-icon>
            </a>
            <a routerLink="/user" *ngIf="isLoggedIn" >
                <img *ngIf="user?.image" [src]="uploadUrl + user?.image" alt="">
                <span class="uname">
                    {{user.name}}
                </span>
            </a>
            <a href="javascript:void(0)" id="toggle" (click)="toggleMenu = !toggleMenu">
                <span class="icon-bar"></span>
                <span class="icon-bar icon-right"></span>
                <span class="icon-bar icon-left"></span>
            </a>
        </div>
    </div>
</nav>