@import '../../styles/variables.scss';

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  height: $headerHeight;
  background: rgba($black, 0.5);
  align-items: center;
  padding: 0 5%;
  z-index: 1000;

  >div {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .dropdown-menu {
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: $headerHeight;
        text-decoration: none;
        color: $white;
        padding: 0 10px;


        mat-icon {
          color: $white !important;
          font-size: 25px;
          width: auto;
          height: auto;
        }
        img{
          width: 25px;
          height: 25px;
          border-radius: 50%;
          margin-right: 5px;
        }

        &:hover {
          background: rgba($black ,0.2)
        }
      }

      .subMenu {
        display: none;
      }

      .dropdown-content {
        width: -webkit-fill-available;
        background-color:$white;
        padding: 9px 5% 0 5%;
        visibility: hidden;
        box-shadow: 0px 8px 16px 0px rgba($black, 0.2);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        left: 0;

        .swiper-container {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          width: 80%;

          .swiper-button-next,
          .swiper-button-prev {
            height: 15px;
            width: 15px;
            padding: 0 7px;
            margin-top: -10px;
          }

          .swiper-button-next {
            padding: 0 20px;
          }

          &.center .swiper-wrapper {
            justify-content: center;
          }

          a {
            background-color: $subBg;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            color: $text;
            height: 80px;
            justify-content: flex-start;
            width: 90%;
            margin-right: 9px;
            border-bottom: 7px solid $white;
            text-align: center;
            padding: 5px 0;

            mat-icon {
              color: $text !important;
              font-size: 40px;
              width: auto;
              height: auto;
            }

            &:hover {
              border-color: $pageColor;

              mat-icon {
                color: $pageColor !important;
              }
            }
          }
        }
      }

      &.show>div {
        visibility: visible;
      }
    }

    &.logo {
      display: flex;
      align-items: center;
      color: $white;
      font-weight: bold;
      outline: 0;
      cursor: pointer;

      img {
        height: .7*$headerHeight;
        margin-right: 20px;
      }
    }
  }
}

// menu toggle

.subMenu {

  .menu {
    transform: translateX(0%) !important;
  }

  #toggle {
    .icon-bar {
      position: absolute;
      bottom: 31px;
    }

    .icon-right {
      transform: rotate(45deg);
    }

    .icon-left {
      transform: rotate(-45deg);
    }

    .icon-bar:first-child {
      opacity: 0;
    }
  }


}

.uname{
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#toggle {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 20px;

  .icon-bar {
    background: $white;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    transition: all 700ms;

    &:not(:first-child) {
      margin-top: 4px;
    }
  }
}


// menu toggle end


@media only screen and (max-width: 1300px) {
  nav {
    padding: 0 3%;
  }
}

@media only screen and (max-width: 1100px) {
  nav {
    padding: 0 7%;
  }

  .menu {
    background-color: rgba($black, 0.8);
    position: absolute;
    right: 0;
    top: $headerHeight;
    height: calc(100vh - #{$headerHeight});
    flex-direction: column !important;
    transform: translateX(100%);

    &.toggle{
      transition: all 700ms;
    }

    .dropdown-menu {

      a {
        text-align: start;
        width: -webkit-fill-available;

        &:hover {
          background-color: rgba($black, 0.7) !important;
        }
      }
    }
  }


  #toggle {
    display: inline-flex;
  }

  .user .dropdown-menu {
    right: 40px;
    position: relative;

    .subMenu {
      display: inline-flex !important
    }
  }

}

@media only screen and (max-width: 555px) {

  .menu {
    width: 100%;
  }

  img {
    height: .5*$headerHeight !important;
  }

  span {
    font-size: 15px !important;
  }

  mat-icon {
    font-size: 20px !important;
  }
}