@import '../../../styles/variables.scss';

section{
    @extend %blockAndShadow;
    flex-direction: column;

    .row{
        &:first-child{
            display: block;
            .col{
                &:first-child{
                    display: flex;
                    align-items: center;
                    float: left;
                }
                &:last-child{
                    float: right;
                }
            }
        }
        &:last-child{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
     
            .col{
                display: flex;
                align-items: center;
            }
        }
        .col{
            margin-bottom: 22px;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 20px;
            }
            span{
                font-size: 16px;
            }
            a{
                padding: 10px 25px;
                margin: 0;
            }
        }

        
        app-card{
            width: 22%;
            align-items: stretch;
            display: flex;
            margin-right: 4%;
        }
    }

}

@media only screen and (max-width: 1600px) {
    section .row app-card{
        width: 30.6% !important;
        &:nth-child(4){
            display: none;
        }
    }
}
@media only screen and (max-width: 1100px) and (min-width: 900px)  {
    section .row app-card{
        width: 22% !important;
        &:nth-child(4){
            display: unset;
        }
    }
}
