<section *ngFor="let n of notifications">
  <div class="row">
    <div class="col">
      <img src="{{n.img}}">
      <span>{{n.name}}</span>
    </div>
    <div class="col">
      <a href="javascript:void(0)" class="btn">Ավելին</a>
    </div>
  </div>
  <div class="row">
    <app-card *ngFor="let item of n.notifications" [item]="item"></app-card>
  </div>
</section>