<section>
  <div>
    <mat-form-field>
      <mat-label>Ֆիլտրացիա</mat-label>
      <mat-select disableOptionCentering [(value)]="selected">
        <mat-option value='all' >Բոլորը</mat-option>
        <mat-option value='tez'>Թեզերը</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <app-card *ngFor="let item of savedTests" [item]="item"></app-card>
  </div>
</section>