<div class="live">
  <a (click)="openDialog()" class="btn btn-danger">Ուղիղ եթեր</a>
</div>
<nav #nav mat-tab-nav-bar>
  <span>
    <a mat-tab-link *ngFor="let tab of tabList" [routerLink]="tab.href" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{tab.name}}
    </a>
  </span>
</nav>
<router-outlet></router-outlet>