@import '../../../../styles/variables.scss';

.testInfo {
  display: flex;
  width: 100%;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 3%;
  flex-direction: column;
  align-items: center;
  font-size: 14px;

  >div {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    min-height: 40px;

    input-file,
    mat-form-field,
    mat-radio-group {
      width: 60%;

      mat-radio-button {
        margin-right: 15px;
      }
    }

    .buttons{
        display: flex;
        justify-content: center;
        mat-icon{
            font-size: 30px;
            cursor: pointer;
            margin: 12px;
            height: auto;
            width: auto;
        }
    }

    &.tests {
      flex-direction: column;
      width: 60%;
      margin: 3% 3%;
      
      a{
        min-width: 40px;
      }

      span{
        display: flex;
      }

      &.added{
        padding: 3%;
        border: 1px solid $pageColor;
      }
  
      >div {
        width: 100%;

        app-single-test {
          width: 100%;
        }
      }
    }
  }
}
