<form [formGroup]="testForm">
  <div class="testInfo">
    <div>
      <mat-label>Թեստի Անվանում</mat-label>
      <mat-form-field>
        <input matInput type="text" placeholder="Անուն" formControlName="name" [autocomplete]="autocomplate">
      </mat-form-field>
    </div>
    <div>
      <mat-label>Թեստի Նկարագրություն</mat-label>
      <mat-form-field>
        <textarea matInput type="text" (keyup)="auto_grow($event)" formControlName="description"
          placeholder="Նկարագրություն"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-label>Ավելացնել լուսանկար</mat-label>
      <input-file fileAccept="image/*" fileLimit="1" formControlName="file" [linkEnabled]="false"></input-file>
    </div>
    <div>
      <mat-label>Տեսակը</mat-label>
      <mat-radio-group formControlName="secureVal">
        <mat-radio-button value="1">Բաց</mat-radio-button>
        <mat-radio-button value="2">Փակ</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="tests" [ngClass]="firstAdd? 'added':''">
      <div *ngIf="firstAdd" cdkDropList (cdkDropListDropped)="dropQuestions($event)">
        <div *ngFor="let x of testList; let idx = index" cdkDrag>
          <span>
            <mat-icon cdkDragHandle>drag_indicator</mat-icon>
            <a mat-raised-button>{{idx + 1}}</a>
          </span>
          <app-single-test [test]='x'></app-single-test>
          <div class="buttons">
            <mat-icon (click)="newTest(idx)">add_circle</mat-icon>
            <mat-icon (click)="deleteTest(idx)">delete</mat-icon>
          </div>
        </div>
      </div>
      <div *ngIf="!firstAdd" class="buttons">
        <mat-icon (click)="newTest()">add_circle</mat-icon>
      </div>
    </div>

    <button class="btn" *ngIf="firstAdd" (click)="finall()">Ավելացնել</button>
  </div>
</form>