// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bookShelf-primary: mat-palette($mat-indigo);
$bookShelf-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bookShelf-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bookShelf-theme: mat-light-theme($bookShelf-primary, $bookShelf-accent, $bookShelf-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bookShelf-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// global styles 
@import '../src/app/styles/global.scss';
// variables
@import '../src/app/styles/variables.scss';
// button style
@import '../src/app/styles/button.scss';
// material design elements style
@import '../src/app/styles/mat-style.scss';

// ngx star theme 
@import '~ngx-bar-rating/themes/br-default-theme.css';
// ngx star theme 
@import '~ngx-bar-rating/themes/br-stars-theme';

// calendar style
@import '../src/app/styles/calendar.scss';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import 'flatpickr/dist/flatpickr.css';

// emoji style
@import "~@ctrl/ngx-emoji-mart/picker";