<section>
  <div>
    <a href="javascript:void(0)" (click)="openDialog()" class='btn'>Ստեղծել խումբ</a>
    <mat-form-field>
      <input matInput [(ngModel)]="inputVal" placeholder="Փնտրել․․․">
    </mat-form-field>
  </div>
  <div>
    <app-card *ngFor="let item of myGroups | search:inputVal:['name'] | paginate: { itemsPerPage: 12, currentPage: p }" [item]="item"></app-card>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</section>