<section>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="inputVal" placeholder="Փնտրել․․․">
    </mat-form-field>
  </div>
  <div>
    <app-card *ngFor="let item of savedGroups | search:inputVal:['name']" [item]="item"></app-card>
  </div>
</section>