<section>
  <div>
    <a href="javascript:void(0)" (click)="openDialog()" class='btn'>Ավելացնել</a>
    <mat-form-field>
      <input matInput [(ngModel)]="inputVal" placeholder="Փնտրել․․․">
    </mat-form-field>
  </div>
  <div class="cards">
    <app-preferable-card
      *ngFor="let item of preferableUsers | paginate: { itemsPerPage: 10, currentPage: p }"
      [item]="item"></app-preferable-card>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</section>